:root {
  --steps-start: 0;
  --steps-line-height: 1.75;
  --steps-line-height-headings: 1.2;
  --steps-text-xs: 0.8125rem;
  --steps-color-white: hsl(0, 0%, 100%);
  --steps-color-gray-one: hsl(224, 10%, 23%);
  --steps-color-gray-two: hsl(224, 14%, 16%);
  --steps-color-hairline-light: var(--steps-color-gray-one);
}

html:not(.dark) {
  --steps-color-white: hsl(224, 10%, 10%);
  --steps-color-gray-one: hsl(224, 6%, 77%);
  --steps-color-gray-two: hsl(224, 20%, 94%);
  --steps-color-hairline-light: var(--steps-color-gray-two);
}

.steps ol {
  --bullet-size: calc(var(--steps-line-height) * 1rem);
  --bullet-margin: 0.375rem;
  list-style: none;
  counter-reset: steps-counter var(--steps-start);
  padding-inline-start: 0;
}

.steps ol > li {
  counter-increment: steps-counter;
  position: relative;
  padding-inline-start: calc(var(--bullet-size) + 1rem);
  padding-bottom: 1px;
  min-height: calc(var(--bullet-size) + var(--bullet-margin));
}

.steps ol > li + li {
  margin-top: 0;
}

.steps ol > li::before {
  content: counter(steps-counter);
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: var(--bullet-size);
  height: var(--bullet-size);
  line-height: var(--bullet-size);
  font-size: var(--steps-text-xs);
  font-weight: 600;
  text-align: center;
  color: var(--steps-color-white);
  background-color: var(--steps-color-gray-two);
  border-radius: 99rem;
  box-shadow: inset 0 0 0 1px var(--steps-color-gray-one);
}

.steps ol > li::after {
  --guide-width: 1px;
  content: "";
  position: absolute;
  top: calc(var(--bullet-size) + var(--bullet-margin));
  bottom: var(--bullet-margin);
  inset-inline-start: calc((var(--bullet-size) - var(--guide-width)) / 2);
  width: var(--guide-width);
  background-color: var(--steps-color-hairline-light);
}

.steps ol > li > :first-child {
  --lh: calc(1em * var(--steps-line-height));
  --shift-y: calc(0.5 * (var(--bullet-size) - var(--lh)));
  transform: translateY(var(--shift-y));
  margin-bottom: var(--shift-y);
}

.steps ol > li > :first-child:where(h1, h2, h3, h4, h5, h6) {
  --lh: calc(1em * var(--steps-line-height-headings));
}

@supports (--prop: 1lh) {
  .steps ol > li > :first-child {
    --lh: 1lh;
  }
}
