:root {
  --vp-layout-max-width: 1490px;
  --vp-sidebar-width: 280px;
  --vp-nav-logo-height: 36px;
  --vp-c-brand: #7bc5e4;
  --vp-c-brand-light: #1473e6;
  --vp-c-brand-lighter: #c4e2f2;
  --vp-c-brand-lightest: #e1f0f8;
  --vp-c-brand-dark: #1473e6;
  --vp-c-brand-darker: #36678c;
  --vp-c-brand-dimm: rgba(123, 197, 228, 0.08);
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
  --vp-c-green-light: #16a891;
  --vp-button-alt-bg: #f5f5f5;
  --vp-button-alt-text: rgb(75, 85, 99);
  --vp-button-alt-hover-bg: #efeeee;
  --vp-button-alt-hover-text: rgb(75, 85, 99);
  --vp-c-bg-nav: rgba(255, 255, 255, 0.7);
  --vp-c-bg-mark: rgb(232, 232, 232);

  /* Colors: Custom Block */
  /** Info */
  --vp-custom-block-info-bg: theme("colors.swarm.100");
  --vp-custom-block-info-border: theme("colors.swarm.800");
  --vp-custom-block-info-text: theme("colors.swarm.800");
  --vp-custom-block-info-text-deep: theme("colors.swarm.900");
  /** Tip */
  --vp-custom-block-tip-bg: theme("colors.meadow.100");
  --vp-custom-block-tip-border: theme("colors.meadow.800");
  --vp-custom-block-tip-text: theme("colors.meadow.800");
  --vp-custom-block-tip-text-deep: theme("colors.meadow.900");
  /** Warning */
  --vp-custom-block-warning-bg: theme("colors.merlin.100");
  --vp-custom-block-warning-border: theme("colors.merlin.800");
  --vp-custom-block-warning-text: theme("colors.merlin.800");
  --vp-custom-block-warning-text-deep: theme("colors.merlin.900");
  /** Danger */
  --vp-custom-block-danger-bg: theme("colors.carnation.100");
  --vp-custom-block-danger-border: theme("colors.carnation.800");
  --vp-custom-block-danger-text: theme("colors.carnation.800");
  --vp-custom-block-danger-text-deep: theme("colors.carnation.900");
}

.dark {
  --vp-c-bg: rgb(26, 26, 26);
  --vp-c-bg-alt: rgb(23, 23, 23);
  --vp-c-bg-nav: rgba(23, 23, 23, 0.8);
  --vp-c-bg-mark: rgb(0, 0, 0);
  --vp-button-brand-bg: var(--vp-c-brand-dark);
  --vp-button-alt-bg: #484848;
  --vp-button-alt-text: #f0eeee;
  --vp-button-alt-hover-bg: #484848;
  --vp-button-alt-hover-text: #f0eeee;

  /* Colors: Custom Block */
  /** Info */
  --vp-custom-block-info-bg: theme("colors.swarm.950");
  --vp-custom-block-info-border: theme("colors.swarm.800");
  --vp-custom-block-info-text: theme("colors.swarm.200");
  --vp-custom-block-info-text-deep: theme("colors.swarm.200");
  /** Tip */
  --vp-custom-block-tip-bg: theme("colors.meadow.950");
  --vp-custom-block-tip-border: theme("colors.meadow.800");
  --vp-custom-block-tip-text: theme("colors.meadow.200");
  --vp-custom-block-tip-text-deep: theme("colors.meadow.200");
  /** Warning */
  --vp-custom-block-warning-bg: theme("colors.merlin.950");
  --vp-custom-block-warning-border: theme("colors.merlin.800");
  --vp-custom-block-warning-text: theme("colors.merlin.200");
  --vp-custom-block-warning-text-deep: theme("colors.merlin.200");
  /** Danger */
  --vp-custom-block-danger-bg: theme("colors.carnation.950");
  --vp-custom-block-danger-border: theme("colors.carnation.800");
  --vp-custom-block-danger-text: theme("colors.carnation.200");
  --vp-custom-block-danger-text-deep: theme("colors.carnation.200");
}

.vp-doc a {
  color: var(--vp-c-brand);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  transition: text-decoration-color 0.25s;
}

.vp-doc a:hover {
  color: var(--vp-c-brand);
  text-decoration-color: var(--vp-c-brand);
  -webkit-text-decoration-color: var(--vp-c-brand);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(-30deg, #62cff4, #1473e6);
  --vp-home-hero-image-background-image: linear-gradient(-30deg, #532bc2, #a594f9);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

.VPNavBarTitle .title {
  font-size: 18px;
  font-weight: 600;
}

/*
.VPNavBarTitle .title:after {
  content: "";
  margin-left: 2px;
  margin-top: -6px;
  display: inline-block;
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  background-image: url("/asset/oneko.gif");
  animation: sleep 1s infinite;
  cursor: pointer;
}

.VPNavBarTitle .title:hover:after {
  animation: wakeup 2.5s 1 forwards;
}

@keyframes sleep {
  0%,
  50% {
      background-position: -64px 0;
  }
  50.00001%,
  100% {
      background-position: -64px -32px;
  }
}

@keyframes wakeup {
  0%,
  20% {
      background-position: -160px 0;
  }
  20.00001%,
  40% {
      background-position: -192px 0;
  }
  40.00001%,
  60% {
      background-position: -224px 0;
  }
  60.00001%,
  80% {
      background-position: -96px -64px;
  }
  80.00001%,
  100% {
      background-position: -96px -96px;
  }
}

*/

.medium-zoom-overlay {
  background-color: var(--vp-c-bg) !important;
  z-index: 100;
}

.medium-zoom-overlay ~ img {
  z-index: 101;
}

.medium-zoom--opened .medium-zoom-overlay {
  opacity: 0.98 !important;
}

.video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.VPSidebarItem.level-1.is-active > .item > .indicator,
.VPSidebarItem.level-2.is-active > .item > .indicator,
.VPSidebarItem.level-3.is-active > .item > .indicator,
.VPSidebarItem.level-4.is-active > .item > .indicator,
.VPSidebarItem.level-5.is-active > .item > .indicator {
  background-color: var(--vp-c-brand-1);
  transition-duration: 0.1s;
  transition-property: opacity;
}

main figure {
  margin: 2rem 0;
  transition: transform var(--vp-tt);
}

main figure img {
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 2px 2px 8px 4px var(--vp-c-bg-alt);
}

main figure figcaption {
  text-align: center;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: var(--vp-c-text-2);
}

@media (min-width: 1440px) {
  :root {
    --vp-layout-max-width: 100% !important;
    /* 100% of the viewport width */
    --vp-sidebar-width: 300px !important;
    /* increase sidebar width from default 272px */
  }

  /* target a div with class .content-container*/
  .content-container {
    max-width: 70% !important;
    /* 888px is the default max-width */
  }
}

.info.custom-block {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWluZm8iPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PHBhdGggZD0iTTEyIDE2di00Ii8+PHBhdGggZD0iTTEyIDhoLjAxIi8+PC9zdmc+");
}

.tip.custom-block {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxpZ2h0YnVsYiI+PHBhdGggZD0iTTE1IDE0Yy4yLTEgLjctMS43IDEuNS0yLjUgMS0uOSAxLjUtMi4yIDEuNS0zLjVBNiA2IDAgMCAwIDYgOGMwIDEgLjIgMi4yIDEuNSAzLjUuNy43IDEuMyAxLjUgMS41IDIuNSIvPjxwYXRoIGQ9Ik05IDE4aDYiLz48cGF0aCBkPSJNMTAgMjJoNCIvPjwvc3ZnPg==");
}

.warning.custom-block {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFsZXJ0LXRyaWFuZ2xlIj48cGF0aCBkPSJtMjEuNzMgMTgtOC0xNGEyIDIgMCAwIDAtMy40OCAwbC04IDE0QTIgMiAwIDAgMCA0IDIxaDE2YTIgMiAwIDAgMCAxLjczLTNaIi8+PHBhdGggZD0iTTEyIDl2NCIvPjxwYXRoIGQ9Ik0xMiAxN2guMDEiLz48L3N2Zz4=");
}

.danger.custom-block {
  --icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXNrdWxsIj48Y2lyY2xlIGN4PSI5IiBjeT0iMTIiIHI9IjEiLz48Y2lyY2xlIGN4PSIxNSIgY3k9IjEyIiByPSIxIi8+PHBhdGggZD0iTTggMjB2Mmg4di0yIi8+PHBhdGggZD0ibTEyLjUgMTctLjUtMS0uNSAxaDF6Ii8+PHBhdGggZD0iTTE2IDIwYTIgMiAwIDAgMCAxLjU2LTMuMjUgOCA4IDAgMSAwLTExLjEyIDBBMiAyIDAgMCAwIDggMjAiLz48L3N2Zz4=");
}

.custom-block-title {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.custom-block-title::before {
  content: "";
  width: 16px;
  height: 16px;
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
}

/*css fix for tooltip button*/

.i-lucide-info {
  max-height: 16px !important;
}
.tooltip-button {
  padding: 1px !important;
}

.vp-doc h3 {
  text-decoration: underline;
}

.vp-doc h1 {
  font-size: 2.5rem; /* Adjust the size as needed */
}

.vp-doc h2 {
  font-size: 1.75rem; /* Adjust the size as needed */
}

.vp-doc h3 {
  font-size: 1.4rem; /* Adjust the size as needed */
}

.vp-doc h4 {
  font-size: 1.2rem; /* Adjust the size as needed */
}

.vp-doc h1 {
  margin-top: -0.5rem; /* Adjust the top margin as needed */
  margin-bottom: -1.5rem; /* Adjust the bottom margin as needed */
}

.vp-doc h4 {
  margin-top: 1rem; /* Adjust the top margin as needed */
  margin-bottom: 1rem; /* Adjust the bottom margin as needed */
}

.vp-doc._credits div h1 {
  margin-top: 35px;
  margin-bottom: 15px;
}

/* Make the page half the width for class `sandbox` */
.sandbox {
  max-width: 50%;
  width: 50%;
  margin: 0 auto;
}
