div.left-0:nth-child(2) {
  display: none;
}
aside ul:nth-child(3) {
  margin-top: 1em;
}

.flex.border.dark\:border-dark-650.-mb-px.rounded-t {
    overflow-x: auto;
    white-space: nowrap;
}

.flex.border.dark\:border-dark-650.-mb-px.rounded-t::-webkit-scrollbar-track {
  background-color: transparent;
}

.flex.border.dark\:border-dark-650.-mb-px.rounded-t::-webkit-scrollbar {
  height: 5px;
}

.flex.border.dark\:border-dark-650.-mb-px.rounded-t::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}